{% load staticfiles %}

{% block xeon_footer %}
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2015 <a target="_blank" href="http://shapebootstrap.net/" title="Bootstrap Wtemplates">Bootstrap Wtemplates</a>
                </div>
                <div class="col-sm-6">
                    <img class="pull-right" src="images/logo1.png" alt="Home django" title="Home django">
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

